# ===== Visual Studio =====
.vs/
*.vsidx
*.slnx
*.vcxproj
*.vcxproj.*
*.user
*.suo

# ===== Папки сборки =====
x64/
x86/
Debug/
Release/
Debug/
Bin/
obj/

# ===== Скомпилированные файлы =====
*.exe
*.dll
*.lib
*.pdb
*.obj
*.o
*.ilk
*.exp
*.idb
*.iobj
*.ipdb

# ===== Твои собранные программы =====
program
program.exe

# ===== Кэш и временные =====
*.tmp
*.log
*.cache

# ===== IDE / редакторы =====
.vscode/
.idea/

# ===== ОС =====
Thumbs.db
Desktop.ini
.DS_Store